<launch>
	<!-- IMU NODE -->
	<node pkg="barc" type="imu_data_acquisition.py" name="imu_node" >
		<param name="port" value="/dev/ttyACM0" />
	</node>

	<!-- ARDUINO NODE -->
    <!--  * encoders and ultrasound sensors -->
	<node pkg="rosserial_python" type="serial_node.py" name="arduino_node" >
		<param name="port" value="/dev/ttyUSB0" />
	</node>

   	<!-- DRIVER INPUT -->
	<node pkg="barc" type="traction_driver.py" name="driver" output="screen">
         <!-- PROPERTIES -->
        <param name="speed" type="int" value="140" />
		<param name="t_exp" type="int" value="6" />
        <param name="t_0" type="int" value="2" />
    </node>

	<!-- LATERAL CONTROL -->
	<node pkg="barc" type="traction_lateral.py" name="lateral" output="screen">
		
        <!-- PID for straight test using imu gyro -->
        <param name="p" type="double" value="17" />
		<param name="i" type="double" value="1.3" />
		<param name="d" type="double" value="0" />
        
    </node>

   	<!-- LONGITUDINAL CONTROL  -->
	<node pkg="barc" type="traction_longitudinal.py" name="longitudinal" output="screen">

         <!-- PROPERTIES -->
        <param name="N" type="int" value="5" />
		<param name="Reff" type="double" value="1.3928" />
		
        <!-- PID for straight test using imu gyro -->
        <param name="p" type="double" value="12" />
		<param name="i" type="double" value="2" />
		<param name="d" type="double" value="0" />
        
    </node>

    <!-- Record the experiment data -->
    <node pkg="rosbag" type="record" name="rosbag_record"
        args=" --all" />

</launch>
